<%= form_for(item, :remote => remote) do |f| %>
  <p>
    <%= f.label :item_kind_name %>
    <%= f.text_field :item_kind_name, :data => {:autocomplete_source => item_kinds_path}%>
  </p>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>

