<h3 style="clear:both">Expiring Soon</h3>
<ul class='itemsIndex'>
  <% current_user.items.each do |item| %>
    <% if !item.item_kind.nil? %>
      <%= render :partial => 'items/item', :locals => { :item => item } %>
    <% end %>
  <% end %>
</ul>