<% if user_signed_in? %>
  <%= render :partial => 'items/form', :locals => { :item => @item, :remote => true } %>
  <% if current_user.items.empty? %>
    <h3 style="clear:both">Time to add some items</h3>
  <% else %>
    <%= render :partial => 'items/items' %>
  <% end %>


<% else %>

  <div class="home-page">
    <h2 class= 'text'>Get the most out of your fridge.</h2>
    <img src="fridge.jpeg" alt="Fridge" class="promo"/>
    <%= link_to "Add Items", new_item_path, :class => 'btn btn-primary btn-large homepage-btn' %>
  </div>
<% end %>






