<div class="hero-unit">
  <h2>What's in your fridge?</h2>
  <h4>...freezer and pantry, too.</h4>
  <%= render :partial => 'items/form', :locals => { :item => @item, :remote => true } %>
  <%= render :partial => 'items/items' %>
</div>






