// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  cursor: default;
  li {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    a {
      text-decoration:none;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #C8DEF4;
    }
  }
}

.itemsIndex{
  li{
    background: url("/assets/graphite_line.png") bottom repeat-x;
    overflow: hidden;
    padding: 8px 0 6px;
    font-size: 14px;
    position: relative;
    p{
      display:inline-block;
      margin:0;
      padding-top: 4px;
    }
    &:hover{
      .delete{
        display:inline-block;
      }
    }



    .delete{ 
        display:none;
        background: url("/assets/x.png") center no-repeat;
        width:20px;
        height:20px;
        position:absolute;
        top: 12px;
        right: 0px;
        span{
          position:absolute;
          top: -9999px;
        }
      }
    .controls{
      float:right;
      display:inline; 
    }
  }
}

.form_container{
  padding-right: 20px;
  margin-bottom: 20px;
  background: url("/assets/vertical_line.png") right center no-repeat;
  #item_form{
    display:inline-block;
    background: #fff;
    form{
      margin: 0;
    }
  }
}

.receipt{
  float:left;
  margin: 0px 20px 0 90px;
  display:block;
  width: 38px;
  height: 60px;
  background: url("/assets/receipt_icon.png") no-repeat 0 0;
  position:relative;
  span{
    position:absolute;
    top: 15px;
    left: -70px;
    color: #ddd;
  }
  &:hover{
    span{
      color: #ff7373;
    } 
    background-position: -63px 0;
  }
}

.new{
  padding-top: 40px;
}

 .one-week{
     background-color: rgba(255, 207, 191, 0.3) !important;
    }
    .two-weeks{
      background-color: rgba(255,255,191, 0.3) !important;
    }


