// For styles shared across all views.

body {
    h2 {
        font-size: 400%;
        margin-bottom: 3%;
    }
}

.home {
    padding-top: 10%;
    margin-bottom: 20%;
    text-align: center;
}

// ul {
//     list-style-type: none;
// }

// li {
//     margin-left: -3%;
// }

.ui-widget {
    background-color: #FFF;
    font-size: .9em;
}