// For styles shared across all views.

body {
	font-family: 'Karla', sans-serif;
	h2 {
		font-size: 400%;
		margin-bottom: 3%;
	}	
}

.home {
	padding-top: 10%;
	margin-bottom: 20%;
	text-align: center;
}